/* BASE */

body {    
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 44vh 44vh auto;
    background-color: #9d90ff;
    margin: 0;
    color: rgba(0,0,0,0.8);
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

/* NAV */
  
nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
nav a {
    text-decoration: none;
    margin: 0 80px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}

.navbar {
    z-index: 20;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100vw; /* Full width */
    height: 12vh;
    border-top: 10px solid #fadb48;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  
 /*Change background on mouse-over */
  .navbar a:hover {
    border-bottom: solid 1px #9d90ff;
    color: #9d90ff;
  }

.mobileNavBody {
    display: none;
}

.titleNav {
    display: none;
}

/* TYPOGRAPHY */
p { 
    line-height: 28px;
    font-size: 20px;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.intro {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 8vw;
}

/* ELEMENTS */

button {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    border: none;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(250,219,72,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(250,219,72,1);
    box-shadow: 3px 3px 0px 0px rgba(250,219,72,1);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
}

button:hover {
    background-color: #fadb48;
    -webkit-box-shadow: 4px 4px 5px 1px rgba(66,66,66,1);
    -moz-box-shadow: 4px 4px 5px 1px rgba(66,66,66,1);
    box-shadow: 4px 4px 5px 1px rgba(66,66,66,1);
    transform: scale(1.01);
    transition: transform 0.1s;
}

/* HOMEPAGE */

#homepage_leftblock {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: url("img/background_home.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding: 100px;
    padding-left: 10vw;
}

.homepage_projectblock {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: #fadb48;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.homepage_projectblock:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
    box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
    transform: scale(1.01);
    transition: transform 0.1s;
}

#homepage_video {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: #9d90ff;
}

#HomeVideoMob {
    display: none;
}

/* PORTFOLIO ?WORK */
.MyWorkBody {
    background-color: #fadb48;
}

#MyWorkNav {
    border-top: 10px solid #9d90ff;
}

.PortfolioPageBody {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
    align-items: center;
    justify-content: center;
}

.PortfolioPageBody h2, .MyMindBody h2 {
    padding-left: 7vw;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    margin: 4vh 0 4vh 0;
}

.PILeft {
    position: relative;
    display: block;
    float: left;
    width: 42vw;
    padding-left: 7vw;
    padding-bottom: 4vh;
    padding-right: 1vw;
}

.PIRight {
    position: relative;
    display: block;
    float: right;
    width: 42vw;
    padding-left: 1vw;
    padding-bottom: 4vh;
    padding-right: 7vw;
}

.static {
    position:absolute;
    width: 42vw;
  }

.static:hover {
    opacity:0;
  }

.selectedItemLeft {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 7vw;
    right: 1vw;
    bottom: 4vh;
    background-color: #9d90ff49;
    color: white;
}

.selectedItemRight {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 1vw;
    right: 7vw;
    bottom: 4vh;
    background-color: #9d90ff49;
    color: white;
}

.selectedItemLeft p, .selectedItemRight p {
    font-size: 11px;
    margin: 0vh 0 4vh 2vw;
}

.selectedItemLeft h2, .selectedItemRight h2 {
    padding-left: 0vw;
    margin: 4vh 0 4vh 2vw;
}

.selectedItemLeft button, .selectedItemRight button {
    margin-left: 2vw;
    font-size: 12px;
    margin-bottom: 4vh;
}

.PortfolioItemBody {
    background-color: #f5f5f5;
}

.PortfolioItemMainLeft {
    position: sticky;
    top: 0;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.PortfolioItemMainRight { 
    grid-row: 1 / 3;
    grid-column: 2 / 5;
    padding-left: 15vw;
    padding-top: 7vh;
}

.PortfolioItemMainRight h2 {
    font-weight: 800;
    margin: 12vh 0 4vh 0;
    font-size: 25px;
}

.PortfolioItemMainRight p {
    font-size: 16px;
    line-height: 2;
    display: inline-block;
}

.PortfolioItemMainRight p img {
    width: 25vw;
}

.LastItem {
    margin-bottom: 20vh;
    margin-top: 5vh;
}

video.LastItem {
    margin-top: 0vh;
}

.LeftParagraph {
    width: 25vw;
}

.RightParagraph {
    width: 25vw;
    padding-left: 3vw;
}

.PortfolioItemMainRight img, .PortfolioItemMainRight iframe {
    width: 55vw;
}

.PortfolioItemMainRight video {
    width: 55vw;
    height: 63vh;
}

.PortfolioRow {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#MrStorytellerLeft img {
    border-right: 10px solid #b5dcd2;
}

#MrStorytellerNav {
    border-top: 10px solid #b5dcd2;
}

.MrStorytellerBold {
    font-family: 'Tienne', serif;
    color: #93bbb1;
}

#BacktoSurahNav {
    border-top: 10px solid #ae5e50;
}

#BacktoSurahLeft img {
    border-right: 10px solid #ae5e50;
}

.BacktoSurahBold {
    font-family: 'Tienne', serif;
    color: #ae5e50;
}

#PolyParentNav {
    border-top: 10px solid #283fe3;
}

#PolyParentLeft img {
    border-right: 10px solid #283fe3;
}

.PolyParentBold {
    font-family: 'Tienne', serif;
    color: #283fe3;
}

#BurgerBikeNav {
    border-top: 10px solid #97c678;
}

#BurgerBikeLeft img {
    border-right: 10px solid #97c678;
}

.BurgerBikeBold {
    font-family: 'Tienne', serif;
    color: #97c678;
}

/* ABOUT ME PAGE */

.AboutMeIntro {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    align-items: center;
    justify-content: center;
}

.AboutMeIntro h2 {
    padding-left: 7vw;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    margin: 4vh 0 4vh 0;
}

.AboutMeInformation {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    align-items: center;
    justify-content: center;
    margin-top: -4vh;
}

.AboutMeExtra {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    align-items: center;
    justify-content: center;
    padding-bottom: 12vh;
}

.ParagraphInfo h2 {
    border-bottom: solid 1px;
    padding-bottom: 5vh;
    padding-left: 0;
    line-height: 35px;
    padding-top: 0;
    margin-top: 0;
}

.ParagraphInfo {
    float: left;
    width: 20vw;
    padding-left: 10vw;
    padding-bottom: 12vh;
}

#ParagraphInfoDreams {
    width: 50vw;
}

#Introduction {
    width: 40vw;
    padding-left: 7vw;
}

#Introduction2 {
    width: 40vw;
    padding-left: 6vw;
}

.ParagraphInfo a {
    color: white;
    text-decoration: none;
}

.ParagraphInfo a:hover {
    color: #fadb48;
}

.ParagraphInfo p {
    font-size: 18px;
    line-height: 35px;
}

.ParagraphInfo ul {
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    padding-left: 20px;
}

.ParagraphInfo ul li:before {
    content: "•"; color: white;
    display: inline-block; width: 1em;
    margin-left: -1em;
}

/* MY MIND PAGE*/ 

    .MyMindBody {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        align-content: center;
        margin: auto;
        margin-top: 3vh;
    }

    .MyMindColumn {
        float: left;
    }

    .MyMindImage {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .MyMindImage :last-child {
        margin-top: 0;
        margin-left: 0;
    }

    .MyMindImage img {
        position: absolute;
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .static2 {
        z-index: 5;
    }

    .static2:hover {
        opacity: 0;
    }

    #reflect, #reflect2 {
        width: 25vw;
        height: 28vh;
    }

    #adventure, #adventure2 {
        width: 25vw;
        height: 50vh;
    }

    #adventure {
        margin-top: 2vh;
    }

    #tunnel, #tunnel2 {
        width: 42vw;
        height: 42vh;
    }

    #middle {
        width: 42vw;
        height: 10vh;
        margin-top: 2vh;
    }

    #mirror, #mirror2 {
        width: 20.5vw;
        height: 24vh;
    }

    #double {
        width: 42vw;
        height: 24vh;
        display: flex;
        margin-top: 2vh;
    }

    #road, #road2 {
        width: 20.5vw;
        height: 24vh;
    }

    #road {
        margin-left: 1vw;
    }

    #centerColumn {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    #discover, #discover2 {
        width: 25vw;
        height: 80vh;
    }

    #mobroad {
        display: none;
    }

/* Mobile Styles */
@media only screen and (max-width: 400px) {

    body {
        /*background-color: #F09A9D; Red */
        grid-template-columns: 100vw;
        grid-template-rows: 8vh 40vh 40vh 40vh 40vh 40vh auto;
        margin: 0;
    }

    .titleNav {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .titleNav h2 {
        font-family: 'Muli', sans-serif;
        text-align: center;
        font-weight: 800;
        margin: auto;
    }

    .mobileNavIconContainer {
        display: flex;
        position: absolute;
        left: 25px;
        top: 15px;
        bottom: 5px;
        height: 30px;
    }
        
    .mobileNavIcon {
        position: absolute;
        width: 30px;
        margin-top: 4px;
        transition: all 250ms;
        z-index: 998;
    }

    .mobileNavIconContainer input {
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0;
        z-index: 999;
    }

    .mobileNavIcon .bar {
        height: 4px;
        width: 25px;
        background: black;
        transition: all 250ms;
    }

    .mobileNavIcon .bar:nth-of-type(2) {
        margin: 3px 0;
    }

    .mobileNavIcon.close .bar:first-of-type {
        transform: rotate(45deg);
        margin-top: 10px;
    }
        
    .mobileNavIcon.close .bar:nth-of-type(2) {
        display: none;
    }
        
    .mobileNavIcon.close .bar:last-of-type {
        transform: rotate(-45deg);
        margin-top: -3px;
    }
        
    .fade {
        opacity: 1 !important;
        transition: 350ms all ease-in !important;
    }
        
    .mobileNavBody {
        display: none;
        background: #fadc48ee;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 6;
        transition: 350ms all ease-in;
    }
        
    .mobileNavBody.open {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .mobileNavBody .menuBtn {
        position: relative;
        background: white;
        height: 80px;
        width: 80px;
        border-radius: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 3px 0px 0px #9d90ff;
        -moz-box-shadow: 3px 3px 0px 0px #9d90ff;
        box-shadow: 3px 3px 0px 0px #9d90ff;
    }

    .mobileNavBody .menuBtn a {
        font-size: 24px;
        font-family: 'Muli', sans-serif;
        width: 80px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
        
    .mobileNavBody .row {
        display: flex;
    }
        
    .mobileNavBody .navContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
        
    .mobileNavBody .navContainer .row:first-of-type {
        margin-bottom: 50px;
    }

    .mobileNavBody .navContainer .row:nth-of-type(2) {
        margin-bottom: 30px;
    }
        
    .mobileNavBody .navContainer .row .menuBtn:first-of-type {
        margin-right: 30px;
    }

    .navbar {
        display: none;
    }

    #homepage_leftblock {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        background-image: url("img/background_home_mob.png"); /* The image used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        padding: 30px;
        padding-top: 15vh;
        padding-left: 15vw;
    }

    .Logohome {
        width: 200px;
    }

    .intro {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .homepage_projectblock {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background-color: #fadb48;
        text-align: center;
        height: 200px;
        position: relative;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
        box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
    }

    .projectlink {
        top: 10vh;
        transform: translateY(-40%);
        position: relative;
    }

    #homepage_video {
        grid-column: 1 / 2;
        grid-row: 4 / 7;
        top: 200px;
        background-color: #9d90ff;
    }

    #HomeVideo {
        display: none;
    }

    #HomeVideoMob {
        display: flex;
        margin-top: 200px;
    }

    .PortfolioPageBody {
        grid-row: 2 / 5;
        grid-column: 1 / 2;
        padding-top: 4vh;
    }

    .PortfolioPageBody h2 {
        display: none;
    }

    .PILeft {
        float: none;
        width: 88vw;
        padding-left: 6vw;
        padding-bottom: 4vh;
        padding-right: 6vw;
    }

    .PIRight {
        float: none;
        width: 88vw;
        padding-left: 6vw;
        padding-bottom: 4vh;
        padding-right: 6vw;
    }

    .selectedItemLeft, .selectedItemRight {
        width: 88vw;
        top: 2vh;
        left: 7vw;
        right: 6vw;
        bottom: 0;
        background-color: #9d90ff0c;
        color: black;
    }

    .selectedItemLeft p, .selectedItemRight p {
        font-size: 8px;
        margin: 0vh 0 4vh 2vw;
    }

    .selectedItemLeft h2, .selectedItemRight h2 {
        display: initial;
        font-size: 15px;
        margin: 0vh 0 4vh 2vw;
    }

    .selectedItemLeft button, .selectedItemRight button {
        margin-left: 2vw;
        font-size: 8px;
        margin-bottom: 4vh;
        padding: 2vw 2vh;
        border-radius: 10px;
    }

    .static {
        width: 88vw;
        position: initial;
    }

    .active {
        display: none;
    }

    .PortfolioItemMainLeft {
        display: none;
    }

    .PortfolioItemMainRight { 
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        padding-left: 0vw;
        padding-top: 10vh;
    }

    .PortfolioItemMainRight h2 {
        font-weight: 800;
        margin: 10vh 0 4vh 10vw;
        font-size: 20px;
    }

    .PortfolioItemMainRight h1 {
        display: none;
    }

    .PortfolioItemMainRight p {
        font-size: 13px;
        line-height: 2;
        display: inherit;
    }

    .PortfolioItemMainRight p img {
        width: 80vw;
        padding-left: 0;
    }

    .LastItem {
        margin-bottom: 20vh;
        margin-top: 5vh;
    }

    .LeftParagraph {
        width: 80vw;
        padding-left: 10vw;
    }

    .RightParagraph {
        width: 80vw;
        padding-left: 10vw;
    }


    .PortfolioItemMainRight img, .PortfolioItemMainRight iframe {
        width: 80vw;
        padding-left: 10vw;
    }
    
    .PortfolioItemMainRight video {
        width: 80vw;
        height: 25vh;
        padding-left: 10vw;
    }

    .PortfolioRow {
        display: block;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    #MrStoryTellerTitle {
        background-color:#afddd2;
    }

    #BacktoSurahTitle {
        background-color:#ae5e50b6;
    }

    #PolyParentTitle {
        background-color:#283fe3;
    }

    #BurgerBikeTitle {
        background-color:#97c678;
    }

    /* ABOUT ME PAGE */

    .AboutMeIntro {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    }

    .AboutMeIntro h2 {
    display: none;
    }

    .AboutMeInformation {
    grid-row: 4 / 7;
    grid-column: 1 / 2;
    margin-top: -20vh;
    }

    .AboutMeExtra {
    grid-row: 9 / 12;
    grid-column: 1 / 2;
    padding-bottom: 12vh;
    margin-top: 150vh;
    }

    .ParagraphInfo {
    float: left;
    width: 86vw;
    padding-left: 7vw;
    padding-bottom: 12vh;
    }

    #ParagraphInfoDreams {
    width: 86vw;
    }

    #Introduction {
    width: 86vw;
    padding-bottom: 0;
    }

    #Introduction2 {
    width: 86vw;
    padding-left: 6vw;
    }

    #introduction2 p {
        display: none;
    }

    /* MY MIND PAGE*/

    .MyMindBody {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-top: 3vh;
        margin-left: 4vw;
    }

    .MyMindColumn {
        margin-bottom: 1vh;
    }

    #reflect, #reflect2 {
        width: 45vw;
        height: 14vh;
    }

    #adventure, #adventure2 {
        width: 45vw;
        height: 22vh;
    }

    #adventure {
        margin-top: 1vh;
    }

    #tunnel, #tunnel2 {
        width: 45vw;
        height: 19vh;
    }

    #middle {
        display: none;
    }

    #mirror, #mirror2 {
        width: 45vw;
        height: 17vh;
    }

    #double {
        width: 45vw;
        height: 17vh;
        display: block;
        margin-top: 1vh;
    }

    #road, #road2 {
        display: none;
    }

    #centerColumn {
        margin-left: 2vw;
    }

    #discover, #discover2 {
        display: none;
    }

    #mobroad, #mobroad2 {
        display: flex;
        width: 92vw;
        height: 24vh;
        margin-top: 1vh;
    }
}

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    body {
        /*background-color: #F09A9D; Red */
        grid-template-columns: 100vw;
        grid-template-rows: 8vh 25vh 25vh 30vh 30vh auto;
        margin: 0;
    }

   
    .titleNav {
        display: grid;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .titleNav h2 {
        font-family: 'Muli', sans-serif;
        text-align: center;
        font-weight: 800;
        margin: auto;
    }
    
    .mobileNavIconContainer {
        position: absolute;
        left: 25px;
        top: 15px;
    }
        
    .mobileNavIcon {
        position: absolute;
        width: 30px;
        margin-top: 4px;
        transition: all 250ms;
        z-index: 998;
    }
    
    .mobileNavIconContainer input {
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 0;
        z-index: 999;
    }
    
    .mobileNavIcon .bar {
        height: 4px;
        width: 25px;
        background: black;
        transition: all 250ms;
    }
    
    .mobileNavIcon .bar:nth-of-type(2) {
        margin: 3px 0;
    }
    
    .mobileNavIcon.close .bar:first-of-type {
        transform: rotate(45deg);
        margin-top: 10px;
    }
        
    .mobileNavIcon.close .bar:nth-of-type(2) {
        display: none;
    }
        
    .mobileNavIcon.close .bar:last-of-type {
        transform: rotate(-45deg);
        margin-top: -3px;
    }
        
    .fade {
        opacity: 1 !important;
        transition: 350ms all ease-in !important;
    }
        
    .mobileNavBody {
        display: none;
        background: #fadc48ee;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 6;
        transition: 350ms all ease-in;
    }
        
    .mobileNavBody.open {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .mobileNavBody .menuBtn {
        position: relative;
        background: white;
        height: 80px;
        width: 80px;
        border-radius: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 3px 3px 0px 0px #9d90ff;
        -moz-box-shadow: 3px 3px 0px 0px #9d90ff;
        box-shadow: 3px 3px 0px 0px #9d90ff;
    }
    
    .mobileNavBody .menuBtn a {
        font-size: 24px;
        font-family: 'Muli', sans-serif;
        width: 80px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
        
    .mobileNavBody .row {
        display: flex;
    }
        
    .mobileNavBody .navContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
        
    .mobileNavBody .navContainer .row:first-of-type {
        margin-bottom: 50px;
    }
    
    .mobileNavBody .navContainer .row:nth-of-type(2) {
        margin-bottom: 30px;
    }
        
    .mobileNavBody .navContainer .row .menuBtn:first-of-type {
        margin-right: 30px;
    }
    
    .navbar {
        display: none;
    }
    
    #homepage_leftblock {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        background-image: url("img/background_home_mob.png"); /* The image used */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        padding: 30px;
        padding-top: 15vh;
        padding-left: 15vw;
    }
    
    .Logohome {
        width: 200px;
    }
    
    .intro {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    
    .homepage_projectblock {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background-color: #fadb48;
        text-align: center;
        position: relative;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
        box-shadow: 0px 0px 10px 2px rgba(66,66,66,1);
    }
    
    #homepage_video {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        background-color: #9d90ff;
    }
    
    #HomeVideo {
     width: 100vw;
    }
    
    #HomeVideoMob {
        display: none;
    }

    .PortfolioPageBody {
        grid-row: 2 / 5;
        grid-column: 1 / 2;
        padding-top: 4vh;
    }
    
    .PortfolioPageBody h2 {
        display: none;
    }
    
    .PILeft {
        float: none;
        width: 88vw;
        padding-left: 6vw;
        padding-bottom: 4vh;
        padding-right: 6vw;
    }
    
    .PIRight {
        float: none;
        width: 88vw;
        padding-left: 6vw;
        padding-bottom: 4vh;
        padding-right: 6vw;
    }

    .PILeft {
        float: none;
        width: 88vw;
        padding-left: 6vw;
        padding-bottom: 4vh;
        padding-right: 6vw;
    }
    
    .PIRight {
        float: none;
        width: 88vw;
        padding-left: 6vw;
        padding-bottom: 4vh;
        padding-right: 6vw;
    }
    
    .selectedItemLeft, .selectedItemRight {
        width: 88vw;
        top: 2vh;
        left: 7vw;
        right: 6vw;
        bottom: 0;
        background-color: #9d90ff0c;
        color: black;
    }
    
    .selectedItemLeft p, .selectedItemRight p {
        font-size: 12px;
        margin: 0vh 0 4vh 2vw;
    }
    
    .selectedItemLeft h2, .selectedItemRight h2 {
        display: initial;
        font-size: 20px;
        margin: 0vh 0 4vh 2vw;
    }
    
    .selectedItemLeft button, .selectedItemRight button {
        margin-left: 2vw;
        font-size: 12px;
        margin-bottom: 4vh;
        padding: 2vw 2vh;
        border-radius: 10px;
    }
    
    .static {
        width: 88vw;
        position: initial;
    }
    
    .active {
        display: none;
    }

    .PortfolioItemMainLeft {
        display: none;
    }
    
    .PortfolioItemMainRight { 
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        padding-left: 0vw;
        padding-top: 10vh;
    }
    
    .PortfolioItemMainRight h2 {
        font-weight: 800;
        margin: 10vh 0 4vh 10vw;
        font-size: 20px;
    }
    
    .PortfolioItemMainRight h1 {
        display: none;
    }
    
    .PortfolioItemMainRight p {
        font-size: 13px;
        line-height: 2;
        display: inherit;
    }
    
    .PortfolioItemMainRight p img {
        width: 80vw;
        padding-left: 0;
    }

    .LastItem {
        margin-bottom: 20vh;
        margin-top: 5vh;
    }

    .LeftParagraph {
        width: 80vw;
        padding-left: 10vw;
    }

    .RightParagraph {
        width: 80vw;
        padding-left: 10vw;
    }


    .PortfolioItemMainRight img, .PortfolioItemMainRight iframe {
        width: 80vw;
        padding-left: 10vw;
    }
    
    .PortfolioItemMainRight video {
        width: 80vw;
        height: 35vh;
        padding-left: 10vw;
    }

    .PortfolioRow {
        display: block;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    #MrStoryTellerTitle {
        background-color:#afddd2;
    }

    #BacktoSurahTitle {
        background-color:#ae5e50b6;
    }

    #PolyParentTitle {
        background-color:#283fe3;
    }

    #BurgerBikeTitle {
        background-color:#97c678;
    }

    /* ABOUT ME PAGE */

    .AboutMeIntro {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        }
    
        .AboutMeIntro h2 {
        display: none;
        }
    
        .AboutMeInformation {
        grid-row: 4 / 7;
        grid-column: 1 / 2;
        }
    
        .AboutMeExtra {
        grid-row: 9 / 12;
        grid-column: 1 / 2;
        padding-bottom: 12vh;
        }
    
        .ParagraphInfo {
        float: left;
        width: 40vw;
        padding-left: 7vw;
        padding-bottom: 12vh;
        }
    
        #ParagraphInfoDreams {
        width: 40vw;
        }
    
        #Introduction {
        width: 40vw;
        padding-bottom: 0;
        }
    
        #Introduction2 {
        width: 40vw;
        padding-left: 6vw;
        }

    /* MY MIND PAGE*/

    .MyMindBody {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        margin-top: 3vh;
        margin-left: 4vw;
    }

    .MyMindColumn {
        margin-bottom: 1vh;
    }

    #reflect, #reflect2 {
        width: 45vw;
        height: 14vh;
    }

    #adventure, #adventure2 {
        width: 45vw;
        height: 22vh;
    }

    #adventure {
        margin-top: 1vh;
    }

    #tunnel, #tunnel2 {
        width: 45vw;
        height: 19vh;
    }

    #middle {
        display: none;
    }

    #mirror, #mirror2 {
        width: 45vw;
        height: 17vh;
    }

    #double {
        width: 45vw;
        height: 17vh;
        display: block;
        margin-top: 1vh;
    }

    #road, #road2 {
        display: none;
    }

    #centerColumn {
        margin-left: 2vw;
    }

    #discover, #discover2 {
        display: none;
    }

    #mobroad, #mobroad2 {
        display: flex;
        width: 92vw;
        height: 24vh;
        margin-top: 1vh;
    }

} 